<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <style>
        .home{
            color:blue;
            margin-top:15px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="home">
        <a  href="/"> Go Back To Home</a>
        </div>
    </div>
    <h3>File Deleted</h3>

    
</body>
</html>